.change-text-btn {
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: #fff;
  color: #000;
  margin: 0 0.5rem;
}

.change-text-btn-container {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 1rem;
}

.change-text-btn:hover {
  cursor: pointer;
  background-color: rgb(200,200,200);
}

.current-text {
  text-align: left;
  line-height: 19px;
  margin: 0 0 1rem 0;
}

.dialogue-container {
  min-width: 180px;
  max-width: 640px;
  height: 97px;
  overflow-y: scroll;
  position: relative;
  background-color: rgb(40,40,40);
  border-radius: 0.25rem;
  padding: 1rem 1rem 0 1rem;
  border: 2px solid #fff;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
