/* orbitron-regular - latin */
@font-face {
  font-family: 'PressStart2P';
  font-style: normal;
  font-weight: 400;
  src: url('./PressStart2P.ttf');
  src: local(''),
    url('./PressStart2P.ttf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./PressStart2P.ttf') format('truetype'); /* Safari, Android, iOS */
}

* {
  font-family: PressStart2P, sans-serif;
}

body {
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  opacity: 0.8;
}

footer {
  position: absolute;
  bottom: 0;
  margin: 2rem;
}

footer p {
  text-align: center;
}

h1 {
  text-align: center;
  position: absolute;
  top: 0;
  margin: 2rem;
  font-size: 1.5rem;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  margin-bottom: 0.75rem;
  text-align: center;
}

li:nth-last-child() {
  margin-bottom: unset;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-container {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.copyright {
  font-size: 0.75rem;
}

.main-menu {
  display: flex;
  flex-direction: column;;
}

.return-to-home {
  margin-bottom: 2rem;
}

.stay-tuned {
  font-size: 0.75rem;
  margin-top: 2rem;
}

.table-of-contents {
  max-width: 640px;
}